html, body {
    padding: 0;
    margin: 0;
    background-color: black;
}

#light {
    width: 100vw;
    height: calc(660px + 10vw);
    position: static;
}

#deskdark {
    position: absolute;
    width: 30vw;
    height: 30vw;
    left: 0vw;
    bottom: 10vw;
    background-image: url("desk_dark.png");
    background-size: contain;
    background-repeat: no-repeat;
    
}

#deskdarkhitbox {
    position: absolute;
    width: 7vw;
    height: 10.7vw;
    left: 5.7vw;
    bottom: 28vw;
}

#beddark {
    position: absolute;
    width: 40vw;
    height: 30vw;
    left: 11vw;
    bottom: 10vw;
    background-image: url("bed_dark.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#maindarkbox {
    position: absolute;
    width: 28vw;
    height: 7vw;
    left: 7vw;
    top: 5.5vw;
    overflow: hidden;
}

#maindark {
    position: absolute;
    width: 28vw;
    height: 14vw;
    background-image: url("maindark.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: maindarkanimation;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
}

@keyframes maindarkanimation {
    from {background-position: 0 0vw;}
    to {background-position: 0 -14vw}
}

#eyes {
    position: absolute;
    width: 2vw;
    height: 3vw;
    left: 22vw;
    bottom: 28vw;
    background-image: url("eyes.png");
    background-size: contain;
    background-repeat: no-repeat;
}


#messagebox {
    position: absolute;
    width: calc(300px - 5vw);
    height: calc(69px - 2vw);
    top: 640px;
    left: calc(46vw - 60px);
    overflow: hidden;
}

#message {
    position: absolute;
    width: calc(300px - 5vw);
    height: 17vw;
    background-image: url("message.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: messageanimation;
    animation-duration: 0.7s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
}
@keyframes messageanimation {
    from {background-position: 0 0vw;}
    to {background-position: 0 calc(-100px + 0.5vw)}
}

#doordark {
    position: absolute;
    width: 15vw;
    height: 30vw;
    right: 1vw;
    bottom: 17vw;
    background-image: url("door_dark.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#figurebox {
    position: absolute;
    width: 12vw;
    height: 30.5vw;
    right: 1.96vw;
    bottom: 15vw;
    overflow: hidden;
}

#figure {
    position: absolute;
    width: 12vw;
    height: 60vw;
    background-image: url("figure.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: figureanimation;
    animation-duration: 0.3s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
}

@keyframes figureanimation {
    from {background-position: 0 0vw;}
    to {background-position: 0 -60vw}
}

#figurehider {
    position: absolute;
    background-color: black;
    width: 10vw;
    height: 25vw;
    right: 4vw;
    bottom: 17.5vw;
}

.animation1 {
    transition: 0.7s;
    transition-delay: 2s;
}

#deskdarkhitbox:hover ~ #eyes {
    left: 22.5vw;
    bottom: 29.1vw;
}

.animation2 {
    transition: 3s;
}

#deskdarkhitbox:hover ~ #figurehider {
    opacity: 0;
}

#deskdarkhitbox:active ~ #figurehider {
    opacity: 0;
}

#deskdarkhitbox:active ~ #messagebox {
    opacity: 0;
}

#deskdarkhitbox:active ~ #light {
    background-color: white;
}

#deskdarkhitbox:active ~ #figurebox {
    opacity: 0;
}

#deskdarkhitbox:active ~ #desklight {
    position: absolute;
    width: 30vw;
    height: 37vw;
    left: -2.1vw;
    bottom: 9.5vw;
    background-image: url("desk_light.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#deskdarkhitbox:active ~ #bedlight {
    position: absolute;
    width: 40vw;
    height: 30vw;
    left: 11vw;
    bottom: 10vw;
    background-image: url("bed_light.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#deskdarkhitbox:active ~ #doorlight {
    position: absolute;
    width: 15vw;
    height: 30vw;
    right: 1vw;
    bottom: 17vw;
    background-image: url("door_light.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#deskdarkhitbox:active ~ #mainlight {
    position: absolute;
    width: 36vw;
    height: 20vw;
    left: 10vw;
    bottom: 23vw;
    background-image: url("mainlight.png");
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 700px) {
    #messagebox {
        position: absolute;
        width: calc(300px - 5vw);
        height: 8vw;
        top: 640px;
        left: calc(46vw - 60px);
        overflow: hidden;
    }

    @keyframes messageanimation {
        from {background-position: 0 0vw;}
        to {background-position: 0 -16vw;}
    }
}